
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navstyle{
    height: 100px;
    padding: 20px;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.head{
    font-size: 30px;
    font-weight:1000;
}

.name{
    font-size: 15px;
    font-weight:1000;
}

.logout{
    background-color: black;
    border: 1px solid black;
}

.logout:hover{
    background-color: rgb(139, 15, 15);
    border: 1px solid black;  
}

img{
    height: 56px;
    margin-right: 2px;
}
